.display {
    display: flex;
    flex-direction: column;
    height: 10vh;
    /* Use full viewport height */
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it appears above other content */
  }
  

.cart-numb {
    position: relative; /* Positioning for the badge */
  }
  
  .custom-badge {
    position: absolute;
    right: 1px; /* Adjust this as needed */
    top: 3px;    /* Adjust this as needed */
    background-color: red; /* Change to your preferred color */
    color: white;  /* Text color */
    border-radius: 50%; /* Make it circular */
    padding: 0 5px; /* Padding around the text */
    font-size: 12px; /* Font size */
  }
  

.app-title {
    font-weight: bold;
    margin-left: 8px;
    /* Space between logo and title */
}

.toolbar-navigation {
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-right: 16px;
    /* Space between icons */
}

.auth-buttons {
    display: flex;
    margin-right: 16px;
    /* Space before cart icon */
}

.user-menu {
    position: relative;
}


.auth-buttons button {
    margin-right: 16px;
    /* Adjust spacing as needed */
}

.auth-buttons button:last-child {
    margin-right: 0;
    /* Remove margin for the last button */
}



@media (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        /* Stack items on smaller screens */
        align-items: flex-start;
        /* Align items to the start */
    }

    .auth-buttons {
        flex-direction: column;
        /* Stack buttons vertically */
    }

    .nav-icon {
        margin-right: 0;
        /* Reset margin on smaller screens */
    }
}