<div class="cart-display">
    <div *ngIf="cart.length === 0" class="empty-cart">
        <img src="assets/png/empty-cart.png" alt="Empty Cart" class="empty-cart-image" />
        <h2>Your cart is empty!</h2>
        <button mat-raised-button 
                color="primary" 
                routerLink="/shop" 
                class="shop-now-button">
          Shop Now
        </button>
      </div>
    
    <div  *ngIf="cart.length > 0">
        <h2>Cart Items:</h2>

    <ul class="cart-list">
        <li *ngFor="let cartItem of cart" class="cart-item">
            <img mat-card-image src="{{cartItem.image}}" alt="Photo of Item" class="cart-image">

            <div class="item-details">
                <span class="item-name">{{cartItem.name}}</span>
                <span class="item-price">₹ {{cartItem.price}}</span>
            </div>

            <button mat-button (click)="removeFromCart(cartItem.id)" class="delete-button">
                <span class="material-icons">delete</span>
            </button>
        </li>
    </ul>

    <div class="checkout">
        <h3>Total: ₹ {{calculateTotal()}}</h3>
        <button mat-button (click)="openLoginDialog()" [disabled]="cart.length === 0">Checkout</button>
    </div>
    </div>
</div>
